/* GLOBAL SITE STYLES */
* {
  box-sizing: border-box;
}

html {
  background: url("../images/space-background.png") center no-repeat fixed;
  background-size: cover;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background: #b1d0e0;
}

::-webkit-scrollbar-thumb:hover {
  background: #406882;
}

::-webkit-scrollbar-track {
  background: white;
}

/* Outer Body */
.major-body {
  font-family: Arial;
  padding: 10px;
  background-color: #062c43;
}

/* Header */
.header {
  background-image: url("../images/site-bgrnd1.png");
  padding: 40px;
  text-align: center;
}

.header h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
  margin: auto;
  color: #2ae6ff;
}

/* Navigation bar */
.nav-bar {
  background-color: #b1d0e0;
  overflow: hidden;
}

#right-link {
  float: right;
}

.nav-bar a {
  float: left;
  display: block;
  color: #4f005f;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#current {
  background-color: #406882;
  color: white;
}

.nav-bar a:hover {
  background-color: #406882;
  color: white;
}

/* Page Content */
.text-body {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  font-size: 17px;
}

h2 {
  color: #a52b2b;
  font-size: 23px;
}

h3,
h4 {
  font-size: 20px;
}

hr {
  margin-left: 20%;
  margin-right: 20%;
}

/* Footer */
#footer-icon {
  height: 35px;
  float: left;
  margin-right: 10px;
  border-radius: 50%;
}

#rocket-icon {
  height: 35px;
  cursor: pointer;
  float: right;
  margin-left: 20px;
  border-radius: 50%;
}

.ftr-content {
  height: 40px;
  display: block;
}

.ftr-content p {
  color: #99c9c9;
  padding: 8px;
  font-size: 14px;
}
